In [11]:
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd

In [12]:
print("test")

test

In [13]:
pd.read_csv("dataset/user_profiles.csv")

,id,user_id,age,gender,height_cm,fitness_level,primary_goal,available_equipment,days_per_week,time_per_session,medical_notes
0,1,1,65,male,178.23,intermediate,weight_loss,"['Dumbbell', 'Resistance Band', 'Kettlebell', ...",4,60,NaN
1,2,2,51,male,159.82,intermediate,muscle_gain,"['Punching Bag', 'Kettlebell', 'Bodyweight', '...",5,30,NaN
2,3,3,20,male,174.95,beginner,muscle_gain,"['Kettlebell', 'Bodyweight', 'Punching Bag']",4,60,NaN
3,4,4,54,male,184.25,beginner,muscle_gain,"['Bodyweight', 'Kettlebell']",5,30,Minor knee pain
4,5,5,33,male,172.12,beginner,weight_loss,"['Resistance Band', 'Bodyweight', 'Barbell']",4,60,Minor knee pain
...,...,...,...,...,...,...,...,...,...,...,...
995,996,996,56,female,182.20,intermediate,muscle_gain,"['Bodyweight', 'Kettlebell']",3,30,Minor knee pain
996,997,997,29,female,170.02,intermediate,muscle_gain,"['Dumbbell', 'Bodyweight', 'Kettlebell', 'Barb...",5,30,NaN
997,998,998,25,female,175.50,beginner,general_fitness,['Dumbbell'],5,45,NaN
998,999,999,55,female,173.18,beginner,weight_loss,['Kettlebell'],3,30,NaN
999,1000,1000,50,male,157.74,intermediate,muscle_gain,['Resistance Band'],4,30,NaN

In [14]:
pd.read_csv(r"C:\Users\zaid\Documents\mega_project\mmacraftai\module_01\dataset\user_progress.csv")

,id,user_id,log_date,weight_kg,body_fat_percentage,measurements
0,1,1,2023-08-17,98.2,30.3,"{""waist_cm"": 80, ""chest_cm"": 94}"
1,2,1,2023-08-21,97.9,10.1,"{""waist_cm"": 96, ""chest_cm"": 99}"
2,3,1,2023-08-27,97.4,30.9,"{""waist_cm"": 70, ""chest_cm"": 115}"
3,4,1,2023-08-31,97.1,20.8,"{""waist_cm"": 98, ""chest_cm"": 117}"
4,5,1,2023-09-06,96.6,32.9,"{""waist_cm"": 91, ""chest_cm"": 96}"
...,...,...,...,...,...,...
12995,12996,1000,2024-07-05,68.8,27.5,"{""waist_cm"": 72, ""chest_cm"": 109}"
12996,12997,1000,2024-07-10,68.8,34.6,"{""waist_cm"": 85, ""chest_cm"": 103}"
12997,12998,1000,2024-07-18,69.2,33.3,"{""waist_cm"": 95, ""chest_cm"": 97}"
12998,12999,1000,2024-07-24,69.5,10.5,"{""waist_cm"": 93, ""chest_cm"": 90}"
12999,13000,1000,2024-07-30,69.4,20.9,"{""waist_cm"": 93, ""chest_cm"": 117}"

In [15]:
pd.read_csv(r"dataset/users.csv")

,id,full_name,email,password_hash,phone_number,preferred_language,subscription_status,subscription_expiry,created_at,updated_at
0,1,Madhav De,madhav.de49@rediffmail.com,cedbc15cf1567b81147fe2f994fa6007ffef2ced581a36...,910287180381,hi,free,2026-07-09,2023-08-16 17:56:58,2025-07-20 02:49:40
1,2,Varenya Johal,varenya.johal72@yahoo.com,139300d935b1f2a4e9c974efa28e791a1c672224ce2de0...,2355405131,hi,free,2026-02-16,2023-11-07 17:03:33,2025-07-19 01:49:27
2,3,Leela Kashyap,leela.kashyap16@gmail.com,6e758f98b21aa222e97d29ce34ae61451ac8609e8a6c3d...,912195748265,hi,free,2026-04-07,2024-07-13 14:33:44,2025-07-09 18:10:20
3,4,Indrajit Doshi,indrajit.doshi40@gmail.com,072713348ff6b597955e404684bfb4a4aa1682fded25ee...,7294007942,en,free,2026-01-06,2024-02-21 09:47:19,2025-07-06 09:51:52
4,5,Garima Bandi,garima.bandi81@gmail.com,22fb0989acdc46f3934fff0072af65c861175a26521459...,918302495631,mr,free,2025-12-11,2024-03-15 14:58:12,2025-07-12 08:28:54
...,...,...,...,...,...,...,...,...,...,...
995,996,Tanay Subramaniam,tanay.subramaniam34@hotmail.com,1e7975fe8595a25c51447341d7228bbf72ec4f9b9857fb...,914520905868,hi,premium,2026-03-01,2024-01-22 07:47:53,2025-07-02 23:56:08
996,997,Kamala Balan,kamala.balan94@gmail.com,a5d6649fb0609f24e17e743c8634d79ffaa92a0fcf0544...,915099898322,en,expired,2025-09-15,2024-05-23 10:02:00,2025-07-27 11:07:01
997,998,Baljiwan Thaman,baljiwan.thaman49@gmail.com,ecbd863d09fc68f210a88c91b7f779cf5c5137c51cfcc3...,919016952027,hi,free,2025-10-19,2023-12-20 14:47:10,2025-07-14 22:02:15
998,999,Harita Wason,harita.wason22@rediffmail.com,808e289906879e34c8ee13f5350c0c8cd0fb611ea0c27c...,4693520189,hi,free,2025-12-25,2024-07-23 18:31:18,2025-07-22 03:38:36
999,1000,Vansha Bansal,vansha.bansal21@rediffmail.com,923d9554f992792e46810f553e23b77dc1eb908b83237c...,913243190795,hi,premium,2026-04-23,2024-05-21 19:24:37,2025-07-23 11:31:34

In [16]:
pd.read_csv(r"C:\Users\zaid\Documents\mega_project\mmacraftai\module_01\dataset\exercises.csv")

,id,exercise_name,muscle_group,exercise_type,equipment_needed,base_weight_kg,difficulty_level
0,1,High Knees,Chest,cardio,bodyweight,0.0,beginner
1,2,Yoga: Downward Dog,Back,stretch,bodyweight,0.0,beginner
2,3,Heavy Bag Drill (Elbow Strike-Knee Strike),Shoulders,combat,bodyweight,0.0,beginner
3,4,Kettlebell Close Grip Calf Raise,Back,strength,kettlebell,25.9,intermediate
4,5,Yoga: Plank Pose,Legs,stretch,bodyweight,0.0,beginner
...,...,...,...,...,...,...,...
145,146,Resistance Band Sumo Pull Up,Full Body,strength,bodyweight,21.0,intermediate
146,147,Barbell Close Grip Lunge,Shoulders,strength,barbell,55.3,beginner
147,148,Heavy Bag Drill (Elbow Strike-Uppercut),Core,combat,bodyweight,0.0,intermediate
148,149,Shadow Boxing (Hook-Cross-Elbow Strike-Front K...,Full Body,combat,bodyweight,0.0,intermediate
149,150,Kettlebell Jumping Deadlift,Core,strength,kettlebell,21.5,beginner

In [17]:
pd.read_csv(r"C:\Users\zaid\Documents\mega_project\mmacraftai\module_01\dataset\workout_logs.csv")

,id,user_id,workout_name,log_date,duration_minutes,perceived_exertion,user_notes
0,1,1,Legs Session,2023-08-17,36,8,Good session.
1,2,1,Chest Session,2023-08-19,62,5,Felt strong!
2,3,1,Full Body Session,2023-08-21,62,6,Felt strong!
3,4,1,Chest Session,2023-08-24,41,9,Felt strong!
4,5,1,Arms Session,2023-08-27,54,7,Good session.
...,...,...,...,...,...,...,...
24995,24996,1000,Back Session,2024-07-18,49,5,Felt strong!
24996,24997,1000,Core Session,2024-07-20,59,6,Good session.
24997,24998,1000,Chest Session,2024-07-24,48,8,Felt strong!
24998,24999,1000,Legs Session,2024-07-28,37,6,Felt strong!
24999,25000,1000,Arms Session,2024-07-30,57,6,Felt strong!

In [20]:
pd.read_csv(r"C:\Users\zaid\Documents\mega_project\mmacraftai\module_01\dataset\workout_log_details.csv")

,id,log_id,exercise_id,set_number,time_seconds,reps_completed,weight_kg
0,2,1,15,1,30.0,NaN,NaN
1,4,1,89,2,45.0,NaN,NaN
2,6,1,125,3,60.0,NaN,NaN
3,8,1,9,4,45.0,NaN,NaN
4,10,1,123,5,60.0,NaN,NaN
...,...,...,...,...,...,...,...
162426,324854,25000,33,3,NaN,8.0,80.0
162427,324856,25000,25,4,45.0,NaN,NaN
162428,324858,25000,126,5,60.0,NaN,NaN
162429,324860,25000,102,6,45.0,NaN,NaN
162430,324862,25000,142,7,NaN,10.0,52.5

In [19]:
# Data Same on Server